//////////////////////////////
// NYC-Camp
//////////////////////////////

////////////////////////////
// Cross Browser Support
$graceful-usage-threshold: 100;
$critical-usage-threshold: 100;

$browser-minimum-versions: (
  "ie": "9",
  "android": "4",
  "chrome": "31",
  "safari": "5",
  "firefox": "25",
  "ios-safari": "6.0-6.1",
  "android-chrome": "0"
);
////////////////////////////

////////////////////////
// Compass Imports
@import "compass";
@import "compass/reset";
////////////////////////

////////////////////////
// Compass Extensions
@import "toolkit";
@import "toolkit/kickstart";
@import "breakpoint";
@import "singularitygs";
@import "modular-scale";
@import "color-schemer";
////////////////////////

//////////////////////////////
// GLOBALS
@import "partials/global/variables/variables";
@import "partials/global/variables/grid";
@import "partials/global/functions/functions";
@import "partials/global/mixins/mixins";
@import "partials/global/mixins/buttons";
@import "partials/global/extends/extends";
@import "partials/global/base";
//////////////////////////////

//////////////////////////////
// LAYOUTS
@import "partials/layouts/layouts";
//////////////////////////////

//////////////////////////////
// COMPONENTS
@import "partials/components/colors";
@import "partials/components/typography/font";
@import "partials/components/typography/base--lists";
@import "partials/components/controls";
@import "partials/components/base--content";
@import "partials/components/main--navigation";
<<<<<<< HEAD
@import "partials/components/secondary--navigation--topbar--simple";
//@import "partials/components/secondary--navigation--topbar";
=======
@import "partials/components/secondary-navigation-topbar";
>>>>>>> upstream/master
@import "partials/components/teaser-frontpage";
//@import "partials/components/session--schedule--item";
@import "partials/components/schedule--session--grid";
@import "partials/components/schedule--session--list";
@import "partials/components/schedule--session--track";
@import "partials/components/partnership--option";
@import "partials/components/block";
//////////////////////////////

//////////////////////////////
// LAYOUTS

//////////////////////////////
