//
// TYPOGRAPHY
//



// BASIC ========================

body {
    font-family: "SourceSansProRegular", Helvetica, sans-serif;
    font-size: 16px;
    // @include debug-vertical-alignment;
}

p {
	color: $text-color-dark;
	font-family: "SourceSansProRegular", Helvetica, sans-serif;
	line-height: $ms-norm * 1.25;
}


// STYLE & WEIGHT ========================

.base--em {
	font-style: italic;
}
.base--strong {
	font-weight: bold;
}


// LINKS ========================

.base--a {
	text-decoration: none;
}

.base--a:link,
.base--a:visited {
  color: $text-link-color;
  &:hover,
  &:active {
    color: $text-link-color;
    text-decoration: underline;
  }
}


// HEADING ========================

h1, h2, h3, h4, h5, h6 {
	color: $main-color-dark;
	text-rendering: optimizeLegibility;
}

h1, h2, h3 {
	font-family: "SourceSansProLight", Helvetica, sans-serif;
	font-weight: 300;

}

h4, h5, h6 {
	font-family: "SourceSansProSemibold", Helvetica, sans-serif;
	font-weight: 600;
}

h1 {
	font-size: $ms-xlrg;
	line-height: $ms-xlrg * 0.44;
	margin: 0.62em 0;
}

h2 {
	font-size: $ms-lrg;
	line-height: $ms-lrg * 0.63;
	margin: 0.89em 0;
}

h3 {
	font-size: $ms-med;
	line-height: $ms-med * 0.88;
	margin: 1.24em 0;
}

h4, h5, h6 {
	font-size: $ms-norm;
	line-height: $ms-norm * 1.25;
	margin: 1.77em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
}

// LISTS ========================

.base--ul {
	font-size: $ms-norm;
	line-height: $ms-norm * 1.25;
	list-style-type: square;
	list-style-position: outside;
	margin-left: $ms-norm * 2;
}

li

.base--ol {
	font-size: $ms-norm;
	line-height: $ms-norm * 1.25;
	list-style-type: decimal;
	list-style-position: outside;
	margin-left: $ms-norm * 2;
}

