
%base--html {

}

%base--body {

}

%base--p {
  color: $text-color-dark;
  font-family: "SourceSansProRegular", Helvetica, sans-serif;
  line-height: $ms-norm * 1.25;
  margin-bottom: .5rem;
}

%base--a {
  color: $text-link-color;
  text-decoration: none;
  &:hover,
  &:active {
    color: $text-link-color;
    text-decoration: underline;
  }
}

%base--h1 {
  font-size: $ms-xlrg;
  line-height: $ms-xlrg * 0.44;
  margin: 0.6rem 0;
}

%base--h2 {
  font-size: $ms-lrg;
  line-height: $ms-lrg * 0.63;
  margin: 0.89em 0;
}

%base--h3 {
  font-size: $ms-med;
  line-height: $ms-med * 0.88;
  margin: 1.24em 0;
}

%base--h4 {
  font-size: $ms-norm;
  line-height: $ms-norm * 1.25;
  margin: 1.77em 0;
}

%base--h5 {
  font-size: $ms-norm;
  line-height: $ms-norm * 1.25;
  margin: 1.77em 0;
}

%base--h6 {
  font-size: $ms-norm;
  line-height: $ms-norm * 1.25;
  margin: 1.77em 0;
}
