
%p {
  color: $text-color-dark;
  font-family: "SourceSansProRegular", Helvetica, sans-serif;
  line-height: $ms-norm * 1.25;
}

%a {
  color: $text-link-color;
  text-decoration: none;
  &:hover,
  &:active {
    color: $text-link-color;
    text-decoration: underline;
  }
}
