<div class="block">
  <h3 class="block--title">Help Grow Drupal and Open Source in NYC</h3>
  <p>NYC Camp is only made possible by the generosity of our partners from the Drupal and Open Source community.</p>
  <p>We would greatly appreciate your financial support this year to help NYC Camp achieve its full potential. If any of our partnership opportunities below are of interest, please follow-up with us by e-mail (<a href="mailto:partnerships@nyccamp.org">partnerships@nyccamp.org</a>) or phone (212.203.8052). Uptake will be quick, so we encourage you to contact us early to secure your desired selection.</p>
  <p>We look forward to hearing from you and welcome any feedback.</p>
  <p>Thanks for Your Support,</p>
  <p>
    <em>NYC Camp Team</em>
  </p>
</div>
