<footer class="_footer footer">
  <h3>NYC Camp Partners</h3>
  <div class="_partner--container partner--container">
    <h4 class="partner--level">Lead Partner</h4>
    <div class="_partner--logo--list partner-logo--list">
      <ul class="_partner--logo--size partner-logo--size">
        <li class="x-large">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Lead.svg">
            </a>
          </div>
        </li>
        <li class="x-large">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Lead.svg">
            </a>
          </div>
        </li>
        <li class="x-large">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Lead.svg">
            </a>
          </div>
        </li>
      </ul>
      <ul class="_partner--logo--size partner-logo--size">
        <li class="x-large">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Lead.svg">
            </a>
          </div>
        </li>
        <li class="x-large">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Lead.svg">
            </a>
          </div>
        </li>
        <li class="x-large">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Lead.svg">
            </a>
          </div>
        </li>
      </ul>
      <h4 class="partner--level">Core Partner</h4>
      <ul class="_partner--logo--size partner-logo--size">
        <li class="large">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Core.svg">
            </a>
          </div>
        </li>
        <li class="large">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Core.svg">
            </a>
          </div>
        </li>
        <li class="large">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Core.svg">
            </a>
          </div>
        </li>
        <li class="large">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Core.svg">
            </a>
          </div>
        </li>
      </ul>
      <ul class="_partner--logo--size partner-logo--size">
        <li class="large">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Core.svg">
            </a>
          </div>
        </li>
        <li class="large">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Core.svg">
            </a>
          </div>
        </li>
        <li class="large">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Core.svg">
            </a>
          </div>
        </li>
        <li class="large">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Core.svg">
            </a>
          </div>
        </li>
      </ul>
      <h4 class="partner--level">Supporting / Contributing / Community Partner</h4>
      <ul class="_partner--logo--size partner-logo--size">
        <li class="small">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Support.svg">
            </a>
          </div>
        </li>
        <li class="small">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Contribute.svg">
            </a>
          </div>
        </li>
        <li class="small">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Community.svg">
            </a>
          </div>
        </li>
        <li class="small">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Support.svg">
            </a>
          </div>
        </li>
        <li class="small">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Contribute.svg">
            </a>
          </div>
        </li>
        <li class="small">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Community.svg">
            </a>
          </div>
        </li>
      </ul>
            <ul class="_partner--logo--size partner-logo--size">
        <li class="small">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Support.svg">
            </a>
          </div>
        </li>
        <li class="small">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Contribute.svg">
            </a>
          </div>
        </li>
        <li class="small">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Community.svg">
            </a>
          </div>
        </li>
        <li class="small">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Support.svg">
            </a>
          </div>
        </li>
        <li class="small">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Contribute.svg">
            </a>
          </div>
        </li>
        <li class="small">
          <div class="partner-logo">
            <a href="#">
              <img alt="" src="images/logo-sample_Community.svg">
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="_footer--extention footer--extention">
    <div class="footer--social">
      Social stuff here.
    </div>
    <div class="footer--legal">
      Legal stuff here.
    </div>
  </div>
</footer>
