<div class="_masthead masthead" role="banner">
  <div class="_masthead-inner-wrapper masthead-inner-wrapper">
    <div class="_masthead-copy masthead-copy">
      <h1 class="masthead--h1">NYC Camp 2015, March 23 &ndash; 29</h1>
      <h2 class="masthead--h2">A week-long,
        <strong>free</strong> Drupal Conference in NYC.</h2>
      <p>We invite you to join us in March to share your knowledge and experiences as well as to learn from some of the brightest minds in Open Source. There will be great opportunities to expand your horizons and contribute back to the community.</p>
      <div class="cta--newsletter">
        <p>Interested in
          <strong>volunteering</strong> or finding out more?</p>
        <a href="http://eepurl.com/QeepX">
          <button class="base--call-to-action--button">Subscribe to NYC Camp newsletter</button>
        </a>
      </div>
    </div>
    <div class="_masthead--feed--block masthead--feed--block">
      <h3>NYC Camp Updates</h3>
      <p class="feed--copy--first">Ex veri nostro instructior cum, doming utamur epicuri at vix. Mel brute integre accusamus in, fugit utamur vim no. <a href="#">Read more ></a>
      </p>
      <p class="feed--copy">Ea purto summo usu. Tale dicat duo ei. Ex per liber impedit, usu te adhuc definitiones. Ne intellegam mediocritatem duo, ea quo inani semper laoreet. <a href="#">Read more ></a>
      </p>
      <p class="feed--copy--last">Eos utinam deleniti doming utamur epicuri at vix. Et munere neglegentur vix, id sale brute graece nam. Nec in numquam appareat. <a href="#">Read more ></a>
      </p>
    </div>
  </div>
</div>
