<div class="_partnership--option partnership--option">
  <ul class="_partnership--option--list--head partnership--option--list--head">
    <li>
      <span class="partnership--level">Lead Partner</span>
      <span class="partnership--amount">$ 8.000</span>
    </li>
  </ul>
  <ul class="_partnership--option--list partnership--option--list">
    <li class="option">
    <span class="option--title">Website:</span>
    <span class="_option--body option--body">X-Large logo on Partners Page and footer promo on all pages</span>
    </li>
    <li class="option">
      <span class="option--title">Program:</span>
      <span class="_option--body option--body">X-Large logo</span>
    </li>
    <li class="option">
      <span class="option--title">Signage:</span>
      <span class="_option--body option--body">X-Large logo</span>
    </li>
    <li class="option">
      <span class="option--title">Partner Pavilion:</span>
      <span class="_option--body option--body">Large Table, Private Breakout Room</span>
    </li>
    <li class="option">
      <span class="option--title">Social Media:</span>
      <span class="_option--body option--body">Daily solo and combined thanks, Solo thanks (Saturday) and daily combined thanks, Daily combined thanks, Single combined thanks - Saturday</span>
    </li>
    <li class="option">
      <span class="option--title">Keynote:</span>
      <span class="_option--body option--body">Solo verbal and on-screen thank you</span>
    </li>
    <li class="option">
      <span class="option--title">Swag:</span>
      <span class="_option--body option--body">Not Applicable</span>
    </li>
    <li class="option">
      <span class="option--title">Other:</span>
      <span class="_option--body option--body">Participation in Job Fair with Table, Receives resumes for all job applicants, Recognition (via tweets, verbal, in program, and small signage) for breakfast and lunch food service.</span>
    </li>
  </ul>
  <div class="_partnership--option--sign-up">
    <button class="base--call-to-action--button">Become a lead partner</button>
  </div>
</div>
