<div class="_schedule--grid schedule--grid">
  <h4 class="schedule--time">10:30 am &ndash; 11:15am</h4>
  <div class="_session--grid session--grid">
    <div class="session--track">
      <a href="#" class="get-off-the-island">Get Off The Island</a>
    </div>
    <div class="session--title">
      <a href="#">Decoupling Drupal &ndash; Data Engineering To Make Sense Of Unstructured Data Representing A Million Voices For The United Nations</a>
    </div>
    <div class="session--speaker--details">
      <div class="session--speaker">
        <span class="session--speaker--name">Andrew Kobylinski,</span>
        <span class="session--speaker--handle"><a href="#">andrewkoby</a></span>
      </div>
      <div class="session--speaker--affiliation">
        <span class="session--speaker--affiliation--organization">ReliefWeb,</span>
        <span class="session--speaker--affiliation--title">Communication Officer</span>
      </div>
    </div>
    <div class="session--level">
      <span class="label">Level:</span>
      <span>Intermediate</span>
    </div>
    <div class="session--room">
      <span class="label">Room:</span>
      <span>NLB-5</span>
    </div>
    <div class="session--add-to-schedule">
      <button class="base--alternate--button">+ add to schedule</button>
    </div>
  </div>
</div>
