<div class="_schedule--list schedule--list">
  <h4>10:30 am &ndash; 11:15am</h4>
  </ul>
  <ul class="_session--list session--list">
    <li>
      <div class="session--track">
        <a href="#" class="business-strategy-commerce">Business / Strategy / Commerce</a>
      </div>
      <div class="session--title">
        <a href="#">Decoupling Drupal &ndash; Data Engineering To Make Sense Of Unstructured Data Representing A Million Voices For The United Nations</a>
      </div>
      <div class="session--speaker">
        <span class="session--speaker--name">Andrew Kobylinski,</span>
        <span class="session--speaker--handle"><a href="#">andrewkoby</a></span>
      </div>
      <div class="session--speaker--affiliation">
        <span class="session--speaker--affiliation--organization">ReliefWeb,</span>
        <span class="session--speaker--affiliation--title">Communication Officer</span>
      </div>
    </li>
  </ul>
  <ul class="_session--details session--details">
    <li>
      <div class="session--level">
        <span class="label">Level:</span>
        <span>Intermediate</span>
      </div>
      <div class="session--room">
        <span class="label">Room:</span>
        <span>NLB-5</span>
      </div>
      <div class="add--to--schedule">
        <button class="base--alternate--button">+ add to schedule</button>
      </div>
    </li>
  </ul>
</div>
