<nav class="top--bar" role="navigation">
  <ul class="title--area">
    <li class="name">
      <h1><a href="#">NYC Camp</a></h1>
    </li>
    <!-- Toggle icon for mobile -->
    <!-- <li class="toggle--topbar menu--icon"><a href="#"><span>Menu</span></a></li> -->
  </ul>

  <section class="top--bar--section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="#">Atendees</a></li>
      <li><a href="#">Speakers</a></li>
      <li class="active"><a href="#">Partners</a></li>
      <li class="has--dropdown"> <a href="#">Volunteers</a>
        <ul class="dropdown">
          <li><a href="#">Organizers</a></li>
          <li class="active"><a href="#">Helpers</a></li>
        </ul>
      </li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">My Account</a></li>
      <li class="top--bar--form">
        <form class="navbar--form" role="search">
          <div class="form--group">
            <input type="text" class="form--control" placeholder="Search">
          </div>
          <button type="submit" class="base--alternate--button">Find</button>
        </form>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Left Link 1</a></li>
      <li><a href="#">Left Link 2</a></li>
    </ul>
  </section>
</nav>
