<div class="main-teaser">

  <section class="_trainings-teaser trainings-teaser">
    <div class="_odd-left">
    <h1> Trainings</h1>
    <p>Alienum luptatum ius te, falli possim ex quo. Te eum inani gloriatur definitionem, no fabulas corpora vis. Et decore utroque vel, eos eirmod periculis. Sea at soleat offendit. Alia modus noster ne nec. Blandit volutpat ut nam, hinc quas noster duo ne. Saepe timeam usu in, mei te eros moderatius definiebas.</p>
    <button type="submit" class="base--call-to-action--button">Sign up for training</button>
    </div>
    <div class="_odd-right">
      <a href="#"><img src="/images/icon-training-blue-dark.svg" alt="Drupal NYC Camp training"></a>
    </div>
  </section>


  <section class="_summits-teaser summits-teaser">
    <div class="_even-left">
      <a href="#"><img src="/images/icon-summit-blue-dark.svg" alt="Drupal NYC Camp summits"></a>
    </div>
    <div class="_even-right">
      <h1>Summits</h1>
      <p>Alienum luptatum ius te, falli possim ex quo. Te eum inani gloriatur definitionem, no fabulas corpora vis. Et decore utroque vel, eos eirmod periculis. Sea at soleat offendit. Alia modus noster ne nec. Blandit volutpat ut nam, hinc quas noster duo ne. Saepe timeam usu in, mei te eros moderatius definiebas.</p>
      <p class="more-info"><a href="#">More info &gt;</a></p>
    </div>
  </section>

  <section class="_sessions-teaser sessions-teaser">
    <div class="_odd-left">
      <h1>Sessions</h1>
      <p>Alienum luptatum ius te, falli possim ex quo. Te eum inani gloriatur definitionem, no fabulas corpora vis. Et decore utroque vel, eos eirmod periculis. Sea at soleat offendit. Alia modus noster ne nec. Blandit volutpat ut nam, hinc quas noster duo ne. Saepe timeam usu in, mei te eros moderatius definiebas.</p>
      <button type="submit" class="base--alternate--button">Propose a Session</button>
    </div>
    <div class="_odd-right">
      <a href="#"><img src="/images/icon-session-blue-dark.svg" alt="Drupal NYC Camp sessions"></a>
    </div>
  </section>

  <section class="_sprints-teaser sprints-teaser">
    <div class="_even-left">
      <a href="#"><img src="/images/icon-sprint-blue-dark.svg" alt="Drupal NYC Camp sprints"></a>
    </div>
    <div class="_even-right">
      <h1>Sprints</h1>
      <p>Alienum luptatum ius te, falli possim ex quo. Te eum inani gloriatur definitionem, no fabulas corpora vis. Et decore utroque vel, eos eirmod periculis. Sea at soleat offendit. Alia modus noster ne nec. Blandit volutpat ut nam, hinc quas noster duo ne. Saepe timeam usu in, mei te eros moderatius definiebas.</p>
      <p class="more-info"><a href="#">More info &gt;</a></p>
    </div>
  </section>

</div>

