<header class="_teaser-header teaser-header" role="banner">
  <div class="_teaser-header-inner-wrapper teaser-header-inner-wrapper">
    <div class="_teaser-header-copy">
      <h1 class="teaser--h1">NYC Camp</h1>
      <h2 class="teaser--h2">A Week-long,
        <strong>Free</strong> Drupal Conference in NYC</h2>
      <h3 class="teaser--h3">March 23-29, 2015</h3>
      <p>NYC Camp is a
        <strong>free</strong>,
        <strong>week-long</strong> Drupal conference in New York City. We invite you to come learn from some of the brightest minds in Open Source, and expand your horizons. There will be numerous opportunities to contribute back to the community, so jump in!</p>
      <p>Join us in March to share your knowledge and experiences as well as to make new friends.</p>
      <p>Interested in
        <strong>volunteering</strong> or finding out more? Please sign up for our <a href="http://eepurl.com/QeepX">newsletter</a>! :)</p>
    </div>
  </div>
</header>
<main class="_teaser-main" role="main">
  <section class="_sprints-teaser sprints-teaser">
    <div class="_sprints-icon">
      <img src="images/icon-sprint-blue-dark.svg" alt="Drupal NYC Camp sprints">
    </div>
    <div class="_sprints-info">
      <h1 class="teaser--h1">Monday - Sunday</h1>
      <h2 class="teaser--h2">Code Sprints during the entire week!</h2>
      <p>Join contributors from around the globe for a week-long sprint on Drupal core, with a special Sprint day on
        <strong>Sunday</strong>. In-person sprints are the most effective way to tackle difficult code challenges and to get mentored on how to submit patches and work on issues.</p>
    </div>
  </section>
  <section class="_trainings-teaser trainings-teaser">
    <div class="_trainings-icon">
      <img src="images/icon-training-blue-dark.svg" alt="Drupal NYC Camp training">
    </div>
    <div class="_trainings-info">
      <h1 class="teaser--h1">Thursday</h1>
      <h2 class="teaser--h2">Training Day</h2>
      <p>Learn from the best Drupal trainers on a variety of topics. Opportunities will be available for all skill levels in multiple formats.</p>
    </div>
  </section>
  <section class="_summits-teaser summits-teaser">
    <div class="_summits-icon">
      <img src="images/icon-summit-blue-dark.svg" alt="Drupal NYC Camp summits">
    </div>
    <div class="_summits-info">
      <h1 class="teaser--h1">Friday</h1>
      <h2 class="teaser--h2">Summit Day</h2>
      <p>Discuss specific challenges and opportunities in various domain areas with your peers. Depending on the topic area, summit formats can range from round-table discussions to highly structured forums with an agenda and presentations.</p>
    </div>
    <div class="_summits-list summits-list">
      <p>We have the following summits planned for 2015:</p>
      <ul>
        <li>Apps & Start-Up</li>
        <li>Commerce</li>
        <li>DevOps</li>
        <li>Drupal Core</li>
        <li>Higher Ed</li>
        <li>Media & Digital Publishing</li>
        <li>Non-Profit & NGO</li>
        <li>Security & Privacy and Training</li>
      </ul>
    </div>
  </section>
  <section class="_sessions-teaser sessions-teaser">
    <div class="_sessions-icon">
      <img src="images/icon-session-blue-dark.svg" alt="Drupal NYC Camp sessions">
    </div>
    <div class="_sessions-info">
      <h1 class="teaser--h1">Saturday</h1>
      <h2 class="teaser--h2">Sessions & Plenaries Day</h2>
      <p>Participate in a variety of presentations on Drupal and related technologies. Enjoy thought-provoking discussions during our plenaries and when networking with your fellow attendees.</p>
    </div>
  </section>
  <section class="_sprints-teaser sprints-teaser">
    <div class="_sprints-icon">
      <img src="images/icon-sprint-blue-dark.svg" alt="Drupal NYC Camp sprints">
    </div>
    <div class="_sprints-info">
      <h1 class="teaser--h1">Sunday</h1>
      <h2 class="teaser--h2">Sprint Day</h2>
      <p>Finish the conference by collaborating and applying your knowledge on our final Sprint Day.</p>
      <p>Sprint Day will include workshops and plenty of mentored sprints. Here's a taste of what we're planning:</p>
      <p>We will also have a number of focused sprints, including a D8 Core sprint and a Media sprint.</p>
    </div>
    <div class="_sprint-list sprint-list">
      <ul>
        <li>Community Tools Workshop -
          <em>A workshop that will get you up and running with the basic tools that the Drupal community uses to tackle problems together.</em>
        </li>
        <li>Get Involved with Core Sprint -
          <em>A mentored sprint designed especially for first-time contributors.</em>
        </li>
      </ul>
    </div>
  </section>
</main>
<footer class="_teaser-footer teaser-footer" role="contentinfo">
  <div class="_teaser-footer-inner-wrapper">
    <div class="_teaser-footer-copy">
      <h1 class="teaser--h1">Interested in a partnering with NYC Camp?</h1>
      <p>NYC Camp is only made possible by the generosity of our partners from the Drupal and other Open Source communities.</p>
      <p>We would greatly appreciate your financial support! Please check out our <a href="http://partner.nyccamp.org/">partnership site</a>.</p>
      <p>For more details, connect with us by e-mail (<a href="mailto:partnerships@nyccamp.org">partnerships@nyccamp.org</a>) or phone (212.203.8052).</p>
    </div>
  </div>
</footer>
