// ========================
// COLORS
// ========================

// SOLID COLORS
$main-color-base: #5091CD;
$main-color-dark: #023E6B;
$main-color-light: #A7C8E6;
$main-color-extralight: #E6EEFF;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #999999;

// GRADIENT COLORS
// ...TBD if necessary

// TEXT COLORS
$text-color-dark: #303133;
$text-color-medium: #666F80;
$text-color-light: #EFF0F2;

// LINK COLORS
$text-link-color: #5091CD;
$text-link-color-light: #EFF0F2;

// Border Colors
$border-color-light: #CCCCCC;
$border-color-dark: #666666;

// BUTTON COLORS
$btn-default: rgba(114,114,114,1);
$btn-alt: rgba(80,145,205,1);
$btn-inactive: rgba(238,238,238,1);
$btn-action: rgba(150,205,85,1);
$btn-required: rgba(234,190,50,1);
$btn-hollow: rgba(255,255,255,1);

// ALERT COLORS
$alert-color: #F04124;
$success-color: #43AC6A;
$warning-color: #F08A24;
$info-color: #A0D3E8;



// ========================
// FONT SIZE MODULAR SCALE
// ========================

$ms-base: 1em;
$ms-ratio: $augmented-fourth; // 1.414

$ms-xsmall: ms(-2);
$ms-small: ms(-1);
$ms-norm: ms(0); // base
$ms-med: ms(1);
$ms-lrg: ms(2);
$ms-xlrg: ms(3);
$ms-xxlrg: ms(4);
$ms-xxxlrg: ms(5);

// ========================
// BREAKPOINT
// ========================
$breakpoint-to-ems: true;

$large-viewport: 900px;
