body {
    font-family: "SourceSansProRegular";
    //font-family: "SourceSansProRegular", Helvetica, sans-serif;
    font-size: 16px;
    // @include debug-vertical-alignment;
}

p {
  @extend %base--p;
}

em {
  font-style: italic;;
}
strong {
  font-weight: 800;
}

a {
  @extend %base--a;
}

#{headings()} {
  color: $main-color-dark;
  text-rendering: optimizeLegibility;
  a:link,
  a:visited {
  color: $text-link-color;
  text-decoration: none;
    &:hover,
    &:active {
      color: $text-link-color;
      text-decoration: underline;
    }
  }
}

#{headings(3)} {
  font-family: "SourceSansProSemibold", Helvetica, sans-serif;
  font-weight: 300;
}

#{headings(4,6)} {
  font-family: "SourceSansProSemibold", Helvetica, sans-serif;
  font-weight: 600;
}

h1 {
  @extend %base--h1;
}

h2 {
  @extend %base--h2;
}

h3 {
  @extend %base--h3;
}

h4 {
  @extend %base--h4;
}

h5 {
  @extend %base--h5;
}

h6 {
  @extend %base--h6;
}
