// ========================
// BASE CONTENT
// ========================



// BASE PARAGRAPH ========================

.base--TEXT p {
  color: $text-color-dark;
  font-family: "SourceSansProRegular", Helvetica, sans-serif;
  line-height: $ms-norm * 1.25;
}



// BASE LINKS ========================

.base--TEXT a:link,
.base--TEXT a:visited {
  color: $text-link-color;
  text-decoration: none;
  &:hover,
  &:active {
    color: $text-link-color;
    text-decoration: underline;
  }
}



// BASE HEADING ========================

.base--TEXT h1,
h2,
h3,
h4,
h5,
h6 {
  color: $main-color-dark;
  text-rendering: optimizeLegibility;
  a:link,
  a:visited {
  color: $text-link-color;
  text-decoration: none;
    &:hover,
    &:active {
      color: $text-link-color;
      text-decoration: underline;
    }
  }
}

.base--TEXT h1,
h2,
h3 {
  font-family: "SourceSansProLight", Helvetica, sans-serif;
  font-weight: 300;
}

.base--TEXT h4,
h5,
h6 {
  font-family: "SourceSansProSemibold", Helvetica, sans-serif;
  font-weight: 600;
}

.base--TEXT h1 {
  font-size: $ms-xlrg;
  line-height: $ms-xlrg * 0.44;
  margin: 0.62em 0;
}

.base--TEXT h2 {
  font-size: $ms-lrg;
  line-height: $ms-lrg * 0.63;
  margin: 0.89em 0;
}

.base--TEXT h3 {
  font-size: $ms-med;
  line-height: $ms-med * 0.88;
  margin: 1.24em 0;
}

.base--TEXT h4,
h5,
h6 {
  font-size: $ms-norm;
  line-height: $ms-norm * 1.25;
  margin: 1.77em 0;
}



// BASE LISTS ========================

.base--TEXT ul {
  font-family: "SourceSansProRegular", Helvetica, sans-serif;
  font-size: $ms-norm;
  line-height: $ms-norm * 1.25;
  list-style-type: disc;
  list-style-position: outside;
  margin-left: $ms-norm * 2;
}

.base--TEXT ol {
  font-family: "SourceSansProRegular", Helvetica, sans-serif;
  font-size: $ms-norm;
  line-height: $ms-norm * 1.25;
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: $ms-norm * 2;
}
