// ========================
// BASE CONTENT
// ========================



// BASE PARAGRAPH ========================

.base--TEXT p {
  @extend %base--p;
}



// BASE LINKS ========================

.base--TEXT a:link,
.base--TEXT a:visited {
  @extend %base--a;
}



// BASE HEADINGS ========================

.base--TEXT h1 {
  @extend h1;
}

.base--TEXT h2 {
  @extend h2;
}

.base--TEXT h3 {
  @extend h3;
}

.base--TEXT h4 {
  @extend h4;
}

.base--TEXT h5 {
  @extend h5;
}

.base--TEXT h6 {
  @extend h6;
}



// BASE LISTS ========================

.base--TEXT ul {
  font-family: "SourceSansProRegular", Helvetica, sans-serif;
  font-size: $ms-norm;
  line-height: $ms-norm * 1.25;
  list-style-type: disc;
  list-style-position: outside;
  margin-left: $ms-norm * 2;
}

.base--TEXT ol {
  font-family: "SourceSansProRegular", Helvetica, sans-serif;
  font-size: $ms-norm;
  line-height: $ms-norm * 1.25;
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: $ms-norm * 2;
}
