//
// COLOR SWATCHES ========================
//


.base--swatch {
  display: block;
  height: 4em;
  margin-bottom: 0.2em;
  width: 100%;
}

.base--colors li {
  float: left;
  width: 5em;
}

.base--colors li {
  border: 1px solid $border-color-light;
  margin: 0 0.2em 0.2em 0;
  overflow: hidden;
  padding: 0.3em;
}

.base--colors li {
  float: left;
  width: 5em;
}

.base--swatch--label {
  font-size: 10px;
}

// ul[data-sp-class="style-tile--COLORS"] {
//   li[data-sp-class="style-tile--COLORS"]:nth-of-type(1) {
//     background: red;
//   }
// }

// li.ng-scope[data-sp-class="style-tile--COLORS"] [data-sp-class^="style-tile--item"] {
//   width: 2em;
//   height: 2em;
//   border-radius: 50%;
//   background: red;
// }
