// ========================
// MAIN NAVIGATION WITH LOGO
// ========================



nav .main--navigation {
  margin: 0;
  padding: 0;
}

.main--navigation ul {
  display: block;
}

.main--navigation ul.logo {
  float: left;
  margin: 0 1em 0 0;
  width: 10em;
}

.main--navigation ul.left {
  float: left;
}

.main--navigation ul.right {
  float: right;
}

.main--navigation ul li {
  display: inline;
}

.main--navigation ul li:first-child {
  padding-left: 0;
}

.main--navigation ul li a {
  color: $text-link-color;
  font-family: "SourceSansProRegular", Helvetica, sans-serif;
  font-size: $ms-norm;
  line-height: $ms-norm * 1.25;
  padding: 0 1em 0 0;
  text-decoration: none;
}

.main--navigation ul li a:hover {
  color: darken($text-link-color, 20%);
}
