// ========================
// PARTNERSHIP OPTION
// ========================


._partnership--option {
  @include breakpoint(740px) {
    @include grid-span(10, 2);
  }
}

.partnership--option {
  color: $text-color-dark;
  font-family: "SourceSansProRegular", Helvetica, sans-serif;
  margin-bottom: 2rem;

}

._partnership--option--list--head {
  @include breakpoint(740px) {
    @include grid-span(3, 1);
  }
  @include breakpoint(max-width 739px) {
    border-bottom: 3px $border-color-light solid;
    padding-bottom: 10px;
  }
}

.partnership--option--list--head {
  font-weight: 800;
  font-size: $ms-med;
  @include breakpoint(740px) {
   text-align: right;
  }
    .partnership--level {
    color: $main-color-dark;
    display: block;
    padding: 0.3rem 0 0.3rem 0;
  }
  .partnership--amount {
    color: $text-color-distinct-med;
    display: block;
  }
}

._partnership--option--list {
  @include breakpoint(740px) {
    @include grid-span(9, 4);
  }
}

.partnership--option--list {
  @include breakpoint(740px) {
    border-left: 3px $border-color-light solid;
    padding-left: 1rem;
  }
  height: 100%;
  //
  font-size: $ms-norm;
  li {
    border-bottom: $border-color-light 1px dotted;
    clear: both;
    overflow: hidden;
    padding: 0.6rem 0 0.6rem 0;
      &:last-child {
      border-bottom: none;
    }
  }
}

._option--body,
._partnership--option--sign-up {
  @include breakpoint(940px) {
   @include grid-span(9, 4);
  }
}

._partnership--option--sign-up {
  button {
    @include breakpoint(740px) {
      margin: {
        top: 1rem;
        left: 1.3rem;
      }
    }
  }
}

.option--title {
  color: $main-color-dark;
  font-weight: 800;
  display: block;
  @include breakpoint(940px) {
   display: inline;
  }
  margin-bottom: .5rem;
}
.option--body {
  color: $text-color-medium;
  display: block;
  @include breakpoint(940px) {
   display: inline;
  }
}
