// ========================
// MAIN TEASER FRONTPAGE
// ========================

%teaser-headers {
  @include breakpoint(max-width ($large-viewport - 1)) {
    text-align: center;
  }
}

._teaser-header,
._teaser-main,
._teaser-footer {
  @extend %twelve-one--no-gutter;
}

.teaser--h1 {
  @extend %teaser-headers;
}

.teaser--h2 {
  @extend %teaser-headers;
  margin: 0.6rem 0;
}

.teaser--h3 {
  @extend %teaser-headers;
  margin: 0.6em 0;
}

._teaser-header-inner-wrapper,
._teaser-footer-inner-wrapper,
._trainings-teaser,
._summits-teaser,
._sessions-teaser,
._sprints-teaser {
  @extend %twelve-one--no-gutter;
  @include breakpoint($large-viewport) {
    @include grid-span(10, 2);
    clear: both;
  }
}

._teaser-header-copy,
._teaser-footer-copy {
  @include breakpoint($large-viewport) {
    @include grid-span(12, 1);
  }
  @include breakpoint(1260px) {
    @include grid-span(10, 2);
  }
}

._trainings-icon,
._summits-icon,
._sessions-icon,
._sprints-icon {
  img {
    width: 100%;
  }
}

._trainings-icon {
  @extend %teaser-icon-base;
  @extend %odd-right;
}

._summits-icon {
  @extend %teaser-icon-base;
  @extend %even-left;
}

._sessions-icon {
  @extend %teaser-icon-base;
  @extend %odd-right;
}

._sprints-icon {
  @extend %teaser-icon-base;
  @extend %even-left;
  clear: right;
}

._trainings-info {
  @extend %twelve-one--no-gutter;
  @extend %odd-left;
}

._summits-info {
  @extend %twelve-one--no-gutter;
  @extend %even-right;
}

._sessions-info {
  @extend %twelve-one--no-gutter;
  @extend %odd-left;
}

._sprints-info {
  @extend %twelve-one--no-gutter;
  @extend %even-right;
}

._teaser-cta {
  @include breakpoint(max-width ($large-viewport - 1)) {
    width: 200px;
    margin: 0 auto;
    display: block;
  }
}

._summits-list,
._sprint-list {
  @extend %twelve-one--no-gutter;
  @extend %even-right;
  clear: both;
}

.summits-list,
.sprint-list {
  ul {
    list-style-type: circle;
    padding-left: 4%;
    li {
      margin-bottom: .5rem;
      line-height: 1.3rem;
    }
  }
}

.more-info {
  text-align: center;
  @include breakpoint($large-viewport) {
    text-align: right;
  }
}

.teaser-header-inner-wrapper,
.trainings-teaser,
.summits-teaser,
.sessions-teaser,
.sprints-teaser {
  padding-bottom: 1.8rem;
  margin-bottom: 2rem;
  border-bottom: $border-color-light solid 1px;
}

.teaser-footer {
  padding-bottom: 2rem;
}
