// GRID DEBUGGING CODE
//
// @include sgs-change('debug', true);

// html {
//   @include background-grid($color: blue);
// }

%twelve-one--no-gutter {
  @include grid-span(12, 1, $gutter: 0);
  clear: both;
}

%teaser-icon-base {
  @include grid-span(1, 2, (1 .8 1), $gutter: 0);
  clear: both;
  @include breakpoint(460px 899px) {
    @include grid-span(1, 2, (1 .6 1), $gutter: 0);
  }
}

%odd-left {
  @include breakpoint($large-viewport) {
    @include grid-span(8, 1);
  }
  @include breakpoint(1260px) {
    @include grid-span(7, 2);
  }
}

%odd-right {
  @include breakpoint($large-viewport) {
    @include grid-span(4, 9);
  }
  @include breakpoint(1260px) {
    @include grid-span(3, 9);
  }
}

%even-left {
  @include breakpoint($large-viewport) {
    @include grid-span(4, 1);
  }
  @include breakpoint(1260px) {
    @include grid-span(3, 2);
  }
}

%even-right {
  @include breakpoint($large-viewport) {
    @include grid-span(8, 5);
  }
  @include breakpoint(1260px) {
    @include grid-span(7, 5);
  }
}
