.main--navigation ul li {
  display: inline;
}

.main--navigation ul li a {
  color: $text-link-color;
  font-family: "SourceSansProRegular", Helvetica, sans-serif;
  // line-height: $ms-norm * 1.25;
  padding: 0 5px;
  text-decoration: none;
}

.main--navigation ul li a:hover {
  // background: black;
  color: darken($text-link-color, 20%);
}

.main--navigation ul li:first-child {
  border-left: none;
}
